

// table.dataTable th,
// table.dataTable td {
//   white-space: nowrap;
// }

.imagetable img {
  max-width:38%;
  max-height:38%;
}

.imagetablek img {
  max-width:30%;
  max-height:30%;
}

.tablerk {
  text-align:center;
  vertical-align: middle;
}

.glyphicon-pencil {
  float: right;
}

.glyphicon-arrow-left {
  padding-right: 10px;
}
.glyphicon-list {
  padding-left: 5px;
}

.glyphicon-list1 {
  padding-right: 10px;
}

.draftList {
  float: right;
}

.backToRanking {
  float: left
}
